<!DOCTYPE html>
<html>
<head>
    <title>Email Verification</title>
</head>
<body>
    <h1>Your email is successfully verified</h1>
    <p>Please click the login button to log in or continue to login from your signup page.</p>
    <a href="localhost:3000/login" style="background-color: #54d4c6; color: black; text-decoration: none; padding: 10px 20px; border-radius: 5px; display: inline-block;">Login</a>
    </form>
</body>
</html>
