<!DOCTYPE html>
<html>
<head>
    <title>Email Verification</title>
</head>
<body>
    <h1>Your email is successfully verified, <%=user.FirstName%></h1>
    <p>Please close this page and continue to login on Techhype.</p>
</body>
</html>
