<!DOCTYPE html>
<html>
<head>
    <title>Email Verification</title>
</head>
<body>
    <h1>Your email is successfully verified</h1>
    <p>Please click the login button to log in or continue to login from your signup page.</p>
    <form action="localhost:3000/login"> <!-- Replace "/auth/login" with your actual login route -->
        <button type="submit">Login</button>
    </form>
</body>
</html>
